[Unit]
Description=GitHub Actions Runner 
After=network-online.target

[Service]
ExecStart=/actions-runner/runsvc.sh
User=ec2-user
WorkingDirectory=/actions-runner
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target
