- name: set prompt
  ansible.builtin.shell: set-prompt {{  tool_name }}

- name: check already runner configured status
  ansible.builtin.stat:
    path: /actions-runner/.runner
  register: runner_stat

- name: add user
  ansible.builtin.user: 
    name: github

- name: create github folder
  ansible.builtin.file:
    path: /actions-runner
    owner: github
    group: github
    state: directory

- name: Download latest package
  ansible.builtin.unarchive:
    src: https://github.com/actions/runner/releases/download/v2.331.0/actions-runner-linux-x64-2.331.0.tar.gz
    dest: /actions-runner
    owner: github
    group: github
    remote_src: yes

- name: Get GitHub runner token
  aws_ssm:
    name: /github/runner/token
    with_decryption: yes
  register: runner_token

- name: configure github runner
  ansible.builtin.shell: ./config.sh --url https://github.com/thippareddyom --token {{runner_token }}  --unattended
  args: 
    chdir: /actions-runner
  become_user: github
  when: not runner_stat.stat.exists


- name: copy service file
  ansible.builtin.template:
    src: github-runner.service
    dest: /etc/systemd/system/github-runner.service

- name: start 
  ansible.builtin.systemd_service:
    name: github-runner
    state: started
    enabled: true
    daemon-reload: yes

- name: copy hashicorp repo file
  ansible.builtin.template:
    src: hashicorp.repo
    dest: /etc/yum.repos.d/hashicorp.repo

- name: install Terraform
  ansible.builtin.package:
    name: terraform
    state: present

- name: install helm 
  ansible.builtin.shell: |
    curl -L -O https://get.helm.sh/helm-v3.17.2-linux-amd64.tar.gz
    tar -xf helm-v3.17.2-linux-amd64.tar.gz
    mv linux-amd64/helm /usr/local/bin/helm
    rm -rf helm-v3.17.2-linux-amd64.tar.gz linux-amd64
  args:
    chdir: /tmp

- name: Get docker repo
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/rhel/docker-ce.repo
    dist: /etc/yum.repos.d/docker.repo

- name: install docker
  ansible.builtin.dnf:
    name: docker-ce
    state: installed

- name: start docker
  ansible.builtin.systemd_service:
    name: docker
    state: started
    enabled: yes

- name: add github user to docker repo
  ansible.builtin.user:
    name: github
    groups: docker

- name: enable and disable node js
  ansible.builtin.shell: dnf module disable nodejs -y; dnf module enable nodejs:20 -y

- name: install nodejs 
  ansible.builtin.dnf:
    name: nodejs

- name: install maven
  ansible.builtin.dnf:
    name: maven
